.container {
  max-width: 1280px;
}
.navbar_Area {
  margin: 30px 0;
  text-align: center;
}
.logoIcon {
  color: #20c997;
}
.navbar_list li {
  font-size: 16px;
  font-weight: 500;
}
.navbar_list li:hover {
  color: #20c997;
}
.bannar {
  background-image: url("./images/bannarBG.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannar_title {
  color: white;
  font-size: 48px;
  padding-top: 140px;
}
.bannar_pera {
  color: white;
  font-size: 18px;
  margin-top: 40px;
}
.Btn {
  border: 1px solid white;
  border-radius: 25px;
  background: white;
  padding: 10px 22px;
  color: #20c997;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.Btn:hover {
  border: 1px solid #20c997;
  background: #20c997;
  color: white;
}
.bannar_Btn {
  margin-top: 50px;
}
.bannar_item_Area {
  color: white;
  margin-top: 80px;
}
.bannar_item_Area .bannarItem_icon {
  font-size: 80px;
}
.bannar_item1 {
  background: #48a7d4;
  padding: 50px 48px;
}
.bannar_item_Area h4 {
  font-size: 22px;
  font-weight: 600;
}
.bannar_item_Area p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.bannar_item2 {
  background: #fdc735;
  padding: 50px 48px;
}
.bannar_item3 {
  background: #307ad5;
  padding: 50px 48px;
}
.bannar_item4 {
  background: #10c45c;
  padding: 50px 48px;
}
.about {
  margin-top: 300px;
  margin-bottom: 80px;
}
.about_textArea {
  position: relative;
  padding-left: 30px;
}
.about_textArea::before {
  content: "";
  display: block;
  width: 5px;
  height: 90px;
  background-color: #10c45c;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  top: 10px;
}
.about_textArea span {
  color: #10c45c;
  font-weight: 400;
}
.about_textArea h2 {
  font-size: 48px;
  font-weight: 700;
}
.about_textArea h5 {
  color: #10c45c;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 24px;
}
.about_textArea p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 44px;
}
.aboutImg {
  width: 100%;
}

.aboutBtn {
  border: 1px solid white;
  border-radius: 25px;
  background: #00a651;
  padding: 10px 22px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
}
.aboutBtn:hover {
  border: 1px solid #6c757d;
  background: #6c757d;
  color: white;
}
.course_title {
  position: relative;
  padding-left: 30px;
}
.course_title::before {
  content: "";
  display: block;
  width: 5px;
  height: 90px;
  background-color: #10c45c;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  top: 10px;
}
.course_title span {
  font-weight: 700;
  color: black;
}
.course_title h2 {
  font-size: 48px;
  font-weight: 400;
  color: #10c45c;
}
.course_title p {
  max-width: 600px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 24px;
}

/* ================== Achievement css ============ */
.achievement {
  margin: 80px 0;
}
.achievement_title {
  position: relative;
  padding-left: 30px;
}
.achievement_title::before {
  content: "";
  display: block;
  width: 5px;
  height: 90px;
  background-color: #10c45c;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  top: 10px;
}
.achievement_title span {
  font-weight: 400;
  color: #10c45c;
}
.achievement_title h2 {
  font-size: 48px;
  font-weight: 700;
  color: black;
}
.achievement_title p {
  max-width: 600px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 24px;
}

.achieveIcon {
  font-size: 58px;
  margin-top: 16px;
}
.achievement_details {
  margin-top: 50px;
}
.achievement_details h3 {
  font-size: 48px;
  font-weight: 700;
  color: #10c45c;
}
.achievement_details h5 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.achievement_item2 {
  position: relative;
  padding-left: 50px;
}
.achievement_item2::before {
  content: "";
  display: block;
  width: 5px;
  height: 80%;
  background-color: gray;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  top: 10px;
}
.achievement_item3 {
  position: relative;
  padding-left: 50px;
}
.achievement_item3::before {
  content: "";
  display: block;
  width: 5px;
  height: 80%;
  background-color: gray;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  top: 10px;
}
.achievement_item4 {
  position: relative;
  padding-left: 50px;
}
.achievement_item4::before {
  content: "";
  display: block;
  width: 5px;
  height: 80%;
  background-color: gray;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  top: 10px;
}

.achievement_bannar {
  margin-top: 50px;
}
.achieveImg {
  width: 100%;
}
.achievement__text {
  background: #00a651;
  padding-left: 24px;
}
.achievement__text p {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 30px;
}
.achievement__text h4 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 38px;
}
.achievement__text .achieveIcon {
  margin-top: 50px;
  font-size: 28px;
}
.achievement__text {
  position: relative;
}
.achievement__text .rightIcon {
  position: absolute;
  right: 120px;
  bottom: 80px;
}
.achievement__text .achieve__S_pic {
  position: absolute;
  right: 0;
  bottom: -50px;
}
.achieve__S_pic .S__pic {
  max-width: 130px;
}
.achievement_bannar h2 {
  font-size: 52px;
  font-weight: 800;
  color: #3c3e3f;
  letter-spacing: 17px;
  text-shadow: 8px 7px 12px rgba(78, 76, 76, 0.6);
}
/* =============== Register CSS ============ */
.register {
  background: #00a651;
  color: white;
  padding: 80px 0;
}
.register_title {
  position: relative;
  padding-left: 30px;
}
.register_title::before {
  content: "";
  display: block;
  width: 5px;
  height: 90px;
  background-color: white;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  top: 10px;
}
.register_title span {
  font-weight: 400;
}
.register_title h2 {
  font-size: 48px;
  font-weight: 700;
}
.register_title p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 24px;
}
.register_form {
  margin-top: 50px;
}
.contact_form_style .textarea {
  background: #fff;
  border: none;
  width: 100%;
  height: 50px;
  padding: 2px 20px 2px 30px;
  color: #333;
  font-size: 14px;
}
.contact_form_style .messege_area {
  background: #fff;
  border: none;
  width: 100%;
  height: 153px;
  padding: 2px 20px 2px 30px;
  color: #333;
  font-size: 14px;
}
.form_Btn {
  width: 200px;
  border: 1px solid white;
  border-radius: 25px;
  background: white;
  color:  #10c45c;
  padding: 10px 22px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
}
.form_Btn:hover {
  border: 1px solid #6c757d;
  background: black;
  color: white;
}
/* ============ Teacher CSS ============ */
.teacher{
  margin: 50px 0;
}
.teacher_title {
  position: relative;
  padding-left: 30px;
}
.teacher_title::before {
  content: "";
  display: block;
  width: 5px;
  height: 90px;
  background-color: #10c45c;
  margin-bottom: 10px;
  position: absolute;
  left: 0;
  top: 10px;
}
.teacher_title span {
  font-weight: 400;
  color: #10c45c;
}
.teacher_title h2 {
  font-size: 48px;
  font-weight: 700;
  color: black;
}
.teacher_title p {
  max-width: 600px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  margin-top: 24px;
}
.teacherImg{
  width: 100%;
  height: 400px;
}
.teacher_hover{
  position: relative;
  text-align: center;
}
.teacher_title_hover{
  position: absolute;
  right: 0;
  bottom: 0;
  background: white;
  transition: 0.4s;
}
.teacher_overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #9eeebf91;
  top: 0;
  z-index: -1;
  transition: 0.4s;
}
.teacher_hover:hover .teacher_title_hover{
  z-index: -1;
}
.teacher_hover:hover .teacher_overlay{
  z-index: 1;
}
